<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>

  <connectionStrings>
    <!-- SETUP your database connection !-->
    <add name="Demos" connectionString="Server=XPS8700;Initial Catalog=Z.EntityFramework.Extensions.Demos;Integrated Security=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <add key="LicenseName" value="" />
    <add key="LicenseKey" value="" />
    <add key="SkipLocalhostValidation" value="" />
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>